.flx{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrp{    flex-wrap: wrap;}
.jCnter{    justify-content: center;}
.flx>div{
    flex: 1 1 max-content;
    padding: 1rem 0;
}

.flx>div:not(:last-child){
    padding-right: .3rem;
}

.flx>li{
    flex: 1 1 min-content;
    padding: .3rem;
}

.ul{
    width: 100%;
    list-style-type: none;
    padding: .5rem;
}

.link{
    text-decoration: none;
    color: #353434c8;
    padding: .6rem;
}
.link:hover{
    color: #111;
}