.flx{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 .wrp{
    flex-wrap: wrap;
}
.flx>div{
    flex: 1 1 max-content;
    padding: 1rem;
}

.flx>li{
    flex: 1 1 min-content;
    padding: .5rem;
}

.ul{
    width: 100%;
    list-style-type: none;
    padding: .5rem;
}

.link{
    text-decoration: none;
    color: #353434c8;
    padding: .5rem;
}
.link:hover{
    color: #111;
}