*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Arial Narrow', Arial, sans-serif;
}

body{
  position: relative;
  display: block;
  width: 100%;
  font-size: 1rem;
}

#interface{
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #111;
  background-size: cover;
  background-image: url('../img/programadoR.jpg');
  height: 100vh;

  max-width: 2000px;
  margin: 0 auto;
}

.overlay{
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100%;
  top:0;
  background-color: #111111bb;
  display: block;
}

header{ }
.cabecalhoInicial{
  justify-content: space-between;
  align-items: center;
}
.cabecalhoInicial {
  justify-content: space-between;
}

header, footer{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 1px 1px 5px #11111128;
}

header a{
  color: #eee;
  text-decoration: none;
  text-transform: capitalize;
}

.topoCabecalho{
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
  align-items: center;
}
.topoCabecalho nav{
  display: flex;
  width: calc(100% - 110px);
  align-items: center;
  justify-content: right;
}
.topoCabecalho a{
  color: #111;
}

.logo{
  display: flex;
  width: 110px;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  
}

.logo a{
  font-size: 4rem;
  display: block;
  text-decoration: none;
  color: whitesmoke;
}
 .logo span, .cblack span{
  color: rgb(233, 206, 124);
}
.cblack a {
  color: #111;
}

nav a {
  padding: .6rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.login{
  border: 1px solid  #111;
  transition: background .3s linear;
  padding: 5px 8px;
  border-radius: 4px;
  border:2px solid transparent;
}
.login:hover{
  color:#eee;
  border-color:#111111b6;
}
.login i{
  position: relative;
  background-color: transparent;
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("../img/icones/perfil.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.sobre{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}
article p{
  text-align: justify;
}
#corpo{
  display: block;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 200px);
}
h1{
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
}
p{
  font-size: 1.rem;
  width: 100%;
  display: block;
  padding: .5rem 0;
  text-align: center;
}
section div{
  position: relative;
  display: block;
  width: 100%;
  padding-inline:1rem;
}

.conteudo{
  position: relative;
  display: grid;
  width: 100%;
  min-height: calc(100vh - 170px);
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.conteudo h1{
  display: block;
  font-size: 5rem;
  color: aliceblue;
  padding: 3rem AUTO;
}
.conteudo > div{
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  display: block;
}
.conteudo > div a{
  display: block;
  color: #e6e5dbea;
  font-size: 1.2REM;
  padding: 1rem 2REM;
  background-color: #121010e2;
  box-shadow: 0px 0px 10px #9b9b9b33;
  width: max-content;
  margin: .5rem auto;
  border-radius: 5px;
  text-decoration: none;
}
form{
  padding: 1rem;
  max-width: 600px;
  margin: 1rem auto;
}
select, button{
  position: relative;
  width:100%;
  padding: 1rem .5rem;
}
select >*{
  position: relative;
  padding: 5px
}

 button{
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  color: white;
  background-color: black;
  border: 2pt solid #000;
  border-radius: 4px;
}

 button{
  margin-top: 1rem;
  padding: 1rem
}

.footer{
  height: 100px;
}
.sigaNos{
  max-width: 300px;
  justify-content: center;
}
.sigaNos li{ }
.sigaNos a{
  position: relative;
  width: max-content;
  display: block;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: all .3s linear;
}
.sigaNos a:hover{
  border-color: #111;
  color: #eee;
  background-color: #111;
}
.rodape{
  position: relative;
  display: block;
  height: 70px;
  align-items: center;
}
.rodape p{
  color: whitesmoke;
  text-align: left;
}

@media screen and (min-width: 900px) {
  #interface{
    background-image: url('../img/programador-desktop.jpg');
  }
  .conteudo h1{
    font-size: 6rem;
  }
  
}